opencv-python
numpy<1.24.0
torch

# StrongSORT ------------------------------------------------------------------
#easydict

# ByteTrack -------------------------------------------------------------------
lap
cython_bbox

# OCSORT ----------------------------------------------------------------------
filterpy